SECRET_KEY='YOUR_SECRET_KEY'
DEBUG=False
ALLOWED_HOSTS='app.farmfills.com,www.app.farmfills.com'
CSRF_TRUSTED_ORIGINS='https://app.farmfills.com,https://www.app.farmfills.com'

# Either set DATABASE_URL...
DATABASE_URL='postgres://user:password@host:5432/dbname'

# ...or the individual vars below (ignored when DATABASE_URL is set)
DATABASE_NAME='YOUR_DATABASE_NAME'
DATABASE_USER='YOUR_DATABASE_USER'
DATABASE_PASS='DATABASE_PASS'
DATABASE_HOST='YOUR_DATABASE_HOST'
DATABASE_PORT=YOUR_DATABASE_PORT

LOOPHOLE_KEY='YOUR_LOOPHOLE_KEY'
LOOPHOLE_SECRET='YOUR_LOOPHOLE_SECRET'

MSG91_AUTH_KEY='YOUR_MSG91_AUTH_KEY'
MSG91_OTP_TEMPLATE_ID='YOUR_MSG91_OTP_TEMPLATE_ID'
MSG91_FLOW_ID='YOUR_MSG91_FLOW_ID'
